body {
	font-family: "Xin Gothic","PT Sans","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,Sans-serif;
	background: #FFF;
}
@media screen and (max-width: 900px) {
	#sidemenu {
		display: none;
	}
	#sidebar {
		display: none;
	}
	#main {
		margin-left: 0 !important;
	}
}
.container{
	//width: 1000px;
	margin: 0 auto;
	position: relative;
}
#top-header{
	padding:1px;
	background: #FFF;
	box-shadow: 0px 0px 10px #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#top-header .title{
	font-size:20px;
	color: #FFF;
	padding-left: 10px;
}
#top-header .title-subfix{
	color:#AAA;
	font-size:12px;
}
.top-header-left{
	float:left;
}
.top-header-right{
	float: right;
}
.top-header-right .setting-icon{
	width: 20px;
	margin:15px;
	fill:#FFF;
}
#sidemenu{
	width: 80px;
	height: 100%;
/*	background: #f4f4f4;
*/	color: #FFF;
	background: #333;
	float:left;
	position: fixed;
	top: 0;
	z-index: 5;
	box-shadow: 1px 0 10px #333;
	/*background:  url(/image/story-tree.png) #333;
	background-size: 20px;*/

}

#sidebar{
	position: fixed;
	z-index: 4;
	width:240px;
	border-right: 1px solid #eee;
	margin-left: 80px;
	height: 100%;
	background: #EEE;
	box-shadow: 1px 0 10px #333;

}

#main{
	position: relative;
	z-index: 3;
	margin-left: 320px;
	padding: 0px ;
	background: #FFF;
	max-width: 900px;
}

.sidemenu-list-wrap{
	margin-top:40px;
}
.sidemenu-list.bottom{
	position: relative;
	bottom: 0;
}
.sidemenu-list-item{
	text-align: center;
	font-size: 14px;
	line-height: 2;
	

}
.sidemenu-list-item button, .sidemenu-list-item a{
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	font-size: 12px;
	text-align: center;
	padding:2px 4px;
	cursor: pointer;
	margin: 2px 0 ;
	text-decoration: none;
}
.sidemenu-list-item button:active{
	outline: none;
}
.sidemenu-list-item button:hover{
	color: #DDD;

}

.sidemenu-list-item.slide{
	border-bottom: 1px solid #FFF;
	margin-bottom: 10px;
	height: 9px;
}


.sidemenu-bottom-img {
	width: 50px;
	position: absolute;
	bottom:0;
	opacity: .5;
}

.sidemenu-slide {
	position: absolute;
	top:50%;
	width:10px;
	height:60px;
	line-height: 60px;
	text-align: center;
	right:0;
	background: #666;
	font-size: 18px;
	cursor: pointer;
}
.sidemenu-slide:hover{
	background: #AAA;
}

/****sidebar*****/

.sidebar-title{

}

.sidebar-list-nav{
	border-bottom: 1px solid #ddd;
}
.list-nav-item{
	border:none;
	outline: none;
	padding: 5px;
	width: 100px;
	background: transparent;

}

.list-nav-item:hover{
	color: #0076FF;
	background: transparent;
}

.list-nav-item.active{
	font-weight: bold;
}

.sidebar-search{
	padding: 10px;

}
.sidebar-search-input{
	border:1px solid #EEE;
	background: #DDD;
	outline: none;
	border-radius: 10px;
	padding:10px;
	width: 200px;
	font-size: 12px;
}
.sidebar-search-input:focus{
	border-color: #0076FF;
}
.sidebar-list {
	height: 100%;
    overflow: scroll;
}

.list-wrap{
	margin: 0;
	padding: 10px;
	overflow: scroll;

}
.list-item{
	list-style: none;
	color: #666;
	margin:0;
	font-size:14px;
	cursor: pointer;
	padding:15px 10px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-item-icon{
	height:20px;
	margin-right:5px;
	vertical-align: middle;
}

.list-item:active{
	background: #DDD;
}

.list-item.active{
	background: #DDD;
}
.sidebar-bottom{
	bottom: 0;
	width: 100%;
	text-align: center;
}

.sidebar-bottom .rewrite-chapter{
	background: #999;
	color: #FFF;
	border : 0;
}

.sidebar-slide {
	position: absolute;
	top:50%;
	width:10px;
	height:60px;
	line-height: 60px;
	text-align: center;
	right:0;
	background: #DDD;
	font-size: 18px;
	cursor: pointer;
}
.sidebar-slide:hover{
	background: #AAA;
}



#footer {
	margin-top:100px;
	height:100px;
	color: #FFF;
	background: #333;
	position: relative;
	text-align: center;
	font-size: 12px;
	padding:20px;
	z-index: 3;
}

.bold {
	font-weight: bold;
}

[v-cloak] { display: none }

button.btn {
	border-radius: 10px;
	color:#666;
	border: 1px solid #666;
	outline: none;
	background: #FFF;
	padding: 5px 20px;
	margin: 5px;
	cursor: pointer;
}
button.btn:hover {
	color: #0076FF;
	border-color: #0076FF;
}
button.btn:active{
	background: #EEE;
}
button.btn.sm-btn{
	font-size: 12px;
	padding: 3px 10px;
}
button.btn.no-border{
	border: none;
}