script( src="/javascript/vendor/jquery.min.js" )
script( src="/javascript/vendor/vue.js" )
script( src="/javascript/vendor/markdown.min.js" )

script( src="/javascript/vendor/underscore.js" )
script( src="/javascript/require.js" )
script.
    require.config({
        baseUrl: "/javascript/app",
        waitSeconds: 15
    });
