title 
meta( name="apple-mobile-web-app-capable" content="no" )
meta( name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes" )
meta( name="apple-mobile-web-app-capable" content="no")
link( rel="stylesheet" media="all" href="/style/vendor/normalize.css") 
link( rel="stylesheet" media="all" href="/style/vendor/animate.css")
link( rel="stylesheet" media="all" href="/style/story/main.css") 

        