doctype html
html
    block header
    body
        div#main-section
            div#sidemenu
                block sidemenu
            div.container
                div#sidebar
                    block sidebar
                div#main.animated.fadeIn
                    block main
        block footer
        