div.sidemenu-list
    ul.sidemenu-list-wrap
        li.sidemenu-list-item 
            button 首页
        li.sidemenu-list-item 
            a(href="/story/editStory") 新的故事
        li.sidemenu-list-item 
            button 旧的回忆
        
        li.sidemenu-list-item 
            button 故事框架
        li.sidemenu-list-item 
            button 重写章节
div.sidemenu-list.bottom
    ul.sidemenu-list-wrap
        li.sidemenu-list-item 
            button 设置
//-div.sidemenu-slide &lt;
div

   
    